body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header, nav, article, section, aside, footer {
  padding: 10px;
  border: 1px solid pink;
}

header {
  position:fixed;
  left:0px;
  top:0px;
  height:30px;
  width:100%;
}

nav {
  position: fixed;
  width: 98%;
  left:0px;
  top:50px;
  height:30px;
}

article {
  position: relative;
  width: 66%;
  float: left;
  left:0px;
  top:110px;

}

section {
  width: 98%;
}

aside {
  width: 30%;
  float: left;
  position: relative;
  float: left;
  left:0px;
  top:110px;
}

footer {
  width: 98%;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}